NODE_ENV=production
# Porta externa mapeada para o container (container expõe 3000)
PORT=3000

# Variáveis do Next (NEXT_PUBLIC_* para uso no client)
# NEXT_PUBLIC_API_BASE_URL=https://api.exemplo.com


